/* imports*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* general */
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.noto-serif-1 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings: "wdth" 100%;
}
.dark-02{
    color: #8987A1;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
/* header styles */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    flex-wrap: wrap;
}
nav>ul{
    display: flex;
    align-items: center;
    padding-right: 70px;
    gap: 40px;
}
nav>ul>li:last-child>a{
    display: flex;
    align-items: center;
    gap: 8px;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}
/* main */
.image-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.image-card>img{
    width: 100%;
}
.plants{
    text-align: center;
    margin: 0 10%;
}
.image-card>button{
    width: 100%;
    background-color: #E95A08;
    border: none;
}
/* media queries */
@media screen and (max-width: 576px){
    .home, .shop, .about{
        display: none;
    }
    .header{
        padding: 0;
        justify-content: space-between;
    }
    nav>ul{
        padding-right: 0;
        gap: 0;
        justify-content: space-between;
    }
    .banner{
        margin-top: 0;
        flex-direction: column-reverse;
        text-align:left;
        padding: 0;
    }
    .banner-image>img{
        width: 100%;
    }
    .image-section{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}